@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    background-color: rgb(1, 1, 1);
}

h1,h2,h3,p {
    color: white;
}

h1,h2,h3 {
    font-family: 'Monoton', cursive;
    font-weight: 800;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
    font-family: 'Space Mono', monospace;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center
;
}

